/* You can add custom styles here. */

// @import "plugins/numbered";

.alignleft {
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.markdown p {
	text-align: justify;
}

.markdown code {
	white-space: pre;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-weight: 600;
}
